/******************* Reset   ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
/******************* General ***************************/
:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan-active: #1a4031;
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --m-v: 25px;
}
@font-face {
    font-family: 'Fraunces';
    src: url(./fonts/Fraunces_144pt_SuperSoft-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
body {
    background-color: var(--Cream);
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    font-family: 'Montserrat';
    line-height: 1.6;
}

/******************* Box Content ***************************/
main {
    background-color: var(--White);
    width: 91.2%;
    border-radius: .625em;
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    -ms-border-radius: .625em;
    -o-border-radius: .625em;
    margin-bottom: var(--m-v);
    margin-left: auto;
    margin-right: auto;
}
main > img:first-of-type {
    margin-bottom: var(--m-v);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
main img:nth-of-type(2) {
    display: none;
}
.box-content {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}
p.box-tag {
    color: var(--Dark-grayish-blue);
    margin-bottom: calc(var(--m-v) - 10px);
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 5px;
}
h1 {
    color: var(--Very-dark-blue);
    margin-bottom: var(--m-v);
    font-family: 'Fraunces';
    font-size: 2.5em;
    line-height: 1;
}
.box-content p {
    color: var(--Dark-grayish-blue);
    margin-bottom: calc(var(--m-v) + 10px);
}
.price {
    margin-bottom: var(--m-v);
}
.price span:first-child {
    color: var(--Dark-cyan);
    font-size: 2.5em;
    font-family: 'Fraunces';
    margin-right: 0.4em;
}
.price sup:last-child {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}
.box-content a {
    color: var(--White);
    background-color: var(--Dark-cyan);
    padding-top: calc(var(--m-v) - 10px);
    padding-bottom: calc(var(--m-v) - 10px);
    margin-bottom: var(--m-v);
    border-radius: 0.625em;
    -webkit-border-radius: 0.625em;
    -moz-border-radius: 0.625em;
    -ms-border-radius: 0.625em;
    -o-border-radius: 0.625em;
    display: block;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.box-content a:hover {
    background-color: var(--dark-cyan-active);
}
.box-content a img {
    width: 20px;
    vertical-align: middle;
    padding-right: 0.4em;
}

footer { font-size: 11px; text-align: center;}
footer a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 900px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 41.6666%;
        padding-bottom: var(--m-v);
    }
    main > img:first-of-type {
        display: none;
    }
    main img:nth-of-type(2) {
        display: block;
        width: 50%;
        border-top-left-radius: 0.625em;
        border-bottom-left-radius: 0.625em;
    }
    .box-content {
        width: 40%;
       margin-top: var(--m-v);
    }
    .box-content a {
        margin-bottom: 0;
    }
}
